In [17]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [18]:
df = pd.read_csv('flights.csv')
print(df.head())

   year     month  passengers
0  1949   January         112
1  1949  February         118
2  1949     March         132
3  1949     April         129
4  1949       May         121

In [19]:
mn_pas = df['passengers'].mean()
std_pas = df['passengers'].std()

In [20]:

print(f'El promedio es: {mn_pas}')
print(f'La desviaci칩n est치ndar es: {std_pas}')

El promedio es: 280.2986111111111
La desviaci칩n est치ndar es: 119.9663169429432

In [21]:
df['outlier'] = 0

In [22]:
print(df.head(1))

   year    month  passengers  outlier
0  1949  January         112        0

In [23]:
for index, serie_row in df.iterrows():
    if (serie_row['passengers'] > mn_pas + std_pas) or (serie_row['passengers'] < mn_pas - std_pas):
        df.at[index, 'outlier'] = 1

In [24]:
print(df['outlier'].value_counts())

outlier
0    91
1    53
Name: count, dtype: int64

In [25]:
print(df['outlier'].value_counts('%'))

outlier
0    0.631944
1    0.368056
Name: proportion, dtype: float64

In [26]:
df3 = pd.DataFrame({
    'name': ['John', 'Mike', 'Sara'],
    'age': [25, 30, 35],
    'gender': ['M', 'M', 'F']
})

print(df3)

   name  age gender
0  John   25      M
1  Mike   30      M
2  Sara   35      F

In [27]:
df3.set_index('name', inplace=True)
print(df3)

      age gender
name
John   25      M
Mike   30      M
Sara   35      F

In [29]:
print(df3.loc[['John', 'Sara'], ['age', 'gender']])

      age gender
name
John   25      M
Sara   35      F

In [31]:
#print(df3.loc[0])

In [32]:
print(df[df['outlier'] == 1])

     year      month  passengers  outlier
0    1949    January         112        1
1    1949   February         118        1
2    1949      March         132        1
3    1949      April         129        1
4    1949        May         121        1
5    1949       June         135        1
6    1949       July         148        1
7    1949     August         148        1
8    1949  September         136        1
9    1949    October         119        1
10   1949   November         104        1
11   1949   December         118        1
12   1950    January         115        1
13   1950   February         126        1
14   1950      March         141        1
15   1950      April         135        1
16   1950        May         125        1
17   1950       June         149        1
20   1950  September         158        1
21   1950    October         133        1
22   1950   November         114        1
23   1950   December         140        1
24   1951    January         145        1
25   1951   February         150        1
34   1951   November         146        1
90   1956       July         413        1
91   1956     August         405        1
101  1957       June         422        1
102  1957       July         465        1
103  1957     August         467        1
104  1957  September         404        1
113  1958       June         435        1
114  1958       July         491        1
115  1958     August         505        1
116  1958  September         404        1
122  1959      March         406        1
124  1959        May         420        1
125  1959       June         472        1
126  1959       July         548        1
127  1959     August         559        1
128  1959  September         463        1
129  1959    October         407        1
131  1959   December         405        1
132  1960    January         417        1
134  1960      March         419        1
135  1960      April         461        1
136  1960        May         472        1
137  1960       June         535        1
138  1960       July         622        1
139  1960     August         606        1
140  1960  September         508        1
141  1960    October         461        1
143  1960   December         432        1

In [33]:
print(df.loc[df['outlier'] == 1])

     year      month  passengers  outlier
0    1949    January         112        1
1    1949   February         118        1
2    1949      March         132        1
3    1949      April         129        1
4    1949        May         121        1
5    1949       June         135        1
6    1949       July         148        1
7    1949     August         148        1
8    1949  September         136        1
9    1949    October         119        1
10   1949   November         104        1
11   1949   December         118        1
12   1950    January         115        1
13   1950   February         126        1
14   1950      March         141        1
15   1950      April         135        1
16   1950        May         125        1
17   1950       June         149        1
20   1950  September         158        1
21   1950    October         133        1
22   1950   November         114        1
23   1950   December         140        1
24   1951    January         145        1
25   1951   February         150        1
34   1951   November         146        1
90   1956       July         413        1
91   1956     August         405        1
101  1957       June         422        1
102  1957       July         465        1
103  1957     August         467        1
104  1957  September         404        1
113  1958       June         435        1
114  1958       July         491        1
115  1958     August         505        1
116  1958  September         404        1
122  1959      March         406        1
124  1959        May         420        1
125  1959       June         472        1
126  1959       July         548        1
127  1959     August         559        1
128  1959  September         463        1
129  1959    October         407        1
131  1959   December         405        1
132  1960    January         417        1
134  1960      March         419        1
135  1960      April         461        1
136  1960        May         472        1
137  1960       June         535        1
138  1960       July         622        1
139  1960     August         606        1
140  1960  September         508        1
141  1960    October         461        1
143  1960   December         432        1

In [35]:
AA = df.loc[df['outlier'] == 1, 'month'].value_counts()

In [36]:
print('Los tipos clasificados son los siguientes meses: ')
print(AA)

Los tipos clasificados son los siguientes meses:
month
September    6
August       6
July         6
June         6
May          4
October      4
March        4
January      4
December     4
February     3
April        3
November     3
Name: count, dtype: int64